{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{{ form_start(export_form) }}

<div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="card">
            <h3 class="card-header">
                {{ 'Generate export file'|trans({}, 'Modules.Bulkpriceupdater.Admin') }}
            </h3>
            <div class="card-block row">
                <div class="card-text">
                    <div class="form-group row">
                        <label class="form-control-label" for="input1">{{ export_form.category_ids.vars.label }}</label>
                        <div class="col-sm">
                            {{ form_errors(export_form.category_ids) }}
                            {{ form_widget(export_form.category_ids) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label" for="input1">{{ export_form.supplier_ids.vars.label }}</label>
                        <div class="col-sm">
                            {{ form_errors(export_form.supplier_ids) }}
                            {{ form_widget(export_form.supplier_ids) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label" for="input1">{{ export_form.only_active.vars.label }}</label>
                        <div class="col-sm">
                            {{ form_errors(export_form.only_active) }}
                            {{ form_widget(export_form.only_active) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label" for="input1">{{ export_form.export_name.vars.label }}</label>
                        <div class="col-sm">
                            {{ form_errors(export_form.export_name) }}
                            {{ form_widget(export_form.export_name) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary">{{ "Export"|trans({}, 'Admin.Actions')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(export_form)}}